<hr/>
<body>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <a href="https://spring-web-mvc-projeto1.herokuapp.com/" target="_blank">
                    <p>Cadastro em SpringBoot</p>
                </a>
                <p id="pPortifolio">Meu primeiro projeto hospedado no Heroku.</p>
                <p id="pPortifolio">Fiz um CRUD com relacionamento de entidades de N:N</p>
                <p id="pPortifolio">Tecnologias usudas para criação desse projeto:</p>

                <button class="btn btn-link" (click)="mostrarCampoCadastro()">Mostrar</button>
                <div [hidden]="mostrarCadastro">
                    <br/>
                    <br/>
                    <a href="https://github.com/Alisson7Neres/springboot-heroku" target="_blank">Código fonte</a>
                    <ul>
                        <li>Java</li>
                        <li>SpringBoot </li>
                        <li>SpringSecurity</li>
                        <li>Thymeleaf</li>
                        <li>JasperReports</li>
                        <li>PostgreSQL</li>
                        <li>Materialize</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="col">

                <a href="https://gestao-festa-heroku.herokuapp.com/" target="_blank">
                    <p>Gestão festa</p>
                </a>
                <p id="pPortifolio">Projeto criado para imprimir listas</p>
                <p id="pPortifolio">Tecnologias usudas para criação desse projeto:</p>
                <br />
                <br />

                <button class="btn btn-link" (click)="mostrarCampoFesta()">Mostrar</button>
                <div [hidden]="mostrarFesta">
                    <br/><br/>
                    <a href="https://github.com/Alisson7Neres/gestao-festa-heroku" target="_blank">Código fonte</a>
                    <ul>
                        <li>Java</li>
                        <li>JavaScript </li>
                        <li>JQuery</li>
                        <li>Thymeleaf</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <a href="https://imc-calculo.herokuapp.com/" target="_blank">
                    <p>IMC</p>
                </a>
                <p id="pPortifolio">Projeto criado para calcular o IMC</p>
                <p id="pPortifolio">Tecnologias usudas para criação desse projeto:</p>

                <button class="btn btn-link" (click)="mostrarCampoIMC()">Mostrar</button>
                <div [hidden]="mostrarIMC">
                    <br/><br/>
                    <a href="https://github.com/Alisson7Neres/IMC_JavaScript-heroku" target="_blank">Código fonte</a>
                    <ul>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>W3SchoolCSS</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <a href="https://curso-springrest-api.herokuapp.com/springboot-rest-api/static/index.html"
                    target="_blank">
                    <p>SpringBoot com API REST<p>
                </a>
                <p id="pPortifolio">Projeto criado para imprimir listas</p>
                <p id="pPortifolio">Tecnologias usudas para criação desse projeto:</p>

                <button class="btn btn-link" (click)="mostrarCampoSpring()">Mostrar</button>
                <div [hidden]="mostrarSpring">
                    <br/><br/>
                    <a href="https://github.com/Alisson7Neres/springboot-rest-api-sample-heroku" target="_blank">Código fonte</a>
                    <ul>
                        <li>Java</li>
                        <li>JavaScript </li>
                        <li>JQuery</li>
                        <li>Ajax</li>
                        <li>SpringBoot</li>
                        <li>API REST</li>
                        <li>bootstrap</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</body>