<body>
    <div class="d-flex justify-content-center" id="divImg">
    </div>
    <div class="d-flex justify-content-center" id="divBody">
      <div class="container">
        <p>Meu nome é Alisson, sou entusiasta desenvolvedor de sistemas</p>
        <p>Formado em Analise e Desenvolvimento de Sistemas pela Universidade Internacional Uninter</p>
        <p>Meus conhecimentos tecnologicos:
          HTML, CSS, Bootstrap, JSF, JSP, Servlet,
          Hibernate, JPA, JDBC, Primefaces, Java, Maven,
          SpringBoot, Ajax, API REST, Postman, JavaScript, JSON ,
          SQL, MySQL, PostGreSQL, NodeJs, Angular
        </p>
        <p>Principal objetivo desse site é mostrar um pouco do meu conhecimento adquerido</p>
      </div>
    </div>
    </body>